<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta content="summary_large_image" name="twitter:card" />
	<meta content="website" property="https://highleads.marcosistemas.com.br" />
	<meta content="" property="HighLeads - Alterar Senha" />
	<meta charset="utf-8" />
	<meta content="width=device-width" name="viewport" />
	<style>
		.row-content {
			margin-top: auto;
			padding-right: 10%;
			padding-left: 10%;
			font-size:16px;
		}
	</style>
</head>

<body>

	<div class="row-content">
		<div style="background-color:#8a3c90">
			<h1
				style="color: white;font-family:Georgia, Times, 'Times New Roman', serif;font-size:38px;font-weight:700;letter-spacing:normal;line-height:140%;text-align:center;margin-top:0;margin-bottom:0;">
				<span>HighLeads</span>​</h1>
		</div>
		<br>
		<p>Prezado(a) Sr(a),</p>
		<p>Um novo contato foi recebido.</p>
        Nome: [CONTATO_NOME]<br>
        Email: [CONTATO_EMAIL]<br>
        Telefone: [CONTATO_TELEFONE]<br>
        Página: [PAGINA]<br>
        Data: [CONTATO_DATA]
		<p>Atenciosamente,</p>
		<p>[EMPRESA]</p>
		<div class="spacer" style="height:40px;"></div>
		<a href="https://highleads.marcosistemas.com.br">https://highleads.marcosistemas.com.br</a>
	</div>

</body>

</html>